@font-face {
  font-family: MBlack;
  src: url("../fonts/Montserrat-Black.ttf");
}

@font-face {
  font-family: MBold;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: MExtraBold;
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: MExtraLight;
  src: url("../fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: MLight;
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: MMedium;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: MRegular;
  src: url("../fonts/Montserrat-Regular.ttf");

}

@font-face {
  font-family: MSemiBold;
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: MThin;
  src: url("../fonts/Montserrat-Thin.ttf");
}